= simple_form_for @note, :remote => true do |f|


  = f.input :encounter_id, :as => :hidden

  #half= f.input :text, :input_html => { :cols => 150, :rows => 3 }
  #half-right-submit
    = f.button :submit, "Submit",  :class => 'btn btn-success'