%h1.header New Encounter
#half
  %h3.header Attributes
  = render 'form'
  = link_to 'Back', encounters_path

.large
  %h3.header All Tags
  .well

    #tag_cloud
      - tag_cloud(@tags, %w(s m l)) do |tag, css_class|
        = link_to tag.name, '#', :class => css_class + " cloud_tag"


