// Place all the styles related to the encounters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#tag_cloud {

  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

#half {
  width: 50%;
  float: left;
}

#half-right {
  width: 40%;
  float: right;
  padding-left: 10px;
}

#search {
  width: 40%;
  float: left;
  padding-left: 5px;
  margin-left: 85px;
}


#half-right-submit {
  float: right;

  padding-top:50px;
  padding-left: 10px;
  position: relative;
}


.notes_section{
    margin-top: 15px;
    border-top: 1px dashed #CCC;
    padding-top: 10px;
    position: relative;
    clear: all;
    float: left;
  }

.large {
  width: 32%;
  float: right;
  margin-left:10px;
  padding-top:5px;
}

#button-padding{
height: 20px;
}

#button-padding-long{
width: 5px;
}

#search-padding{
  padding-top: 0px;
  float: left;
  padding-left: 5px;
  position: relative;
}

.actionwidth{
  width: 180px;
}

.float-right{
  float: right;
}

.tags-box{
  width: 100%;
}

