// Place all the styles related to the encounters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#tag_cloud {

  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

#half {
  width: 50%;
  float: left;
}

#table {
  width: 57%;
  float: left;
  clear: both;
}

#half-right {
  width: 40%;
  float: right;
  padding-left: 10px;
}

#search {
  width: 72%;
  float: left;
  padding-left: 5px;
  margin-left: 5px;
}

#div1{
  width: 40%;
  float: left;
  clear: both;
}

#tagsright{
  width: 30%;
  float: right;
}

#half-right-submit {
  float: left;
  clear: both;
  padding-top:50px;
  padding-left: 10px;
  position: relative;
}


.notes_section{
    margin-top: 15px;
    border-top: 1px dashed #CCC;
    padding-top: 10px;
    position: relative;
    width: 520px;
    clear: all;
    float: left;
  }

.large {
  width: 43%;
  float: right;
  margin-left:10px;
  padding-top:5px;
}

#button-padding{
height: 10px;
margin-bottom: 15px;
width: 100%;
}

#button-padding-long{
width: 5px;
}

#search-padding{
  padding-top: 0px;
  float: left;
  padding-left: 5px;
  position: relative;
}

.actionwidth{
  width: 90px;
}

.float-right{
  float: right;
}

.tags-box{
  width: 100%;
}

.modal-header {
  background-image: url('/assets/p4.png');
  border-bottom: 1px solid #C2C2C2;
  font-family: Ubuntu;
}

.modal-body {
  background-image: url('/assets/p6.png');
}
